* {
    box-sizing: border-box;
    margin: 0;
}


/* web background*/

#background {
    background-image: url(./img/food_background.webp);
    /* color: white; */
}


/* navTitlecontainer*/

#navTitleContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

#navTitleContainer>div {
    width: 50%;
    text-align: center;
    background-color: #1b2230;
    opacity: 80%;
}


/* titleContainer*/

#titleContainer {
    display: flex;
    text-align: center;
    height: 50px;
}

#title>h1 {
    color: #ce5c8f;
    opacity: 80%;
    font-size: larger;
    padding-top: 5px;
    filter: saturate(200%);
}

#title>p {
    color: #ce5c8f;
    opacity: 80%;
    font-size: medium;
    filter: saturate(200%);
}

#rightMealLogo {
    align-self: center;
    width: 70px;
    height: 40px;
}


/* CSS styles for the navigation bar */

nav ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 100%;
}

nav a:hover {
    background-color: #ddd;
    color: black;
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 100%;
}


/* container */

#container {
    color: black;
    background-color: white;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}


/*aboutUs*/

#aboutUs {
    position: relative;
}

#aboutUsImg {
    width: 100%;
    height: 300px;
    filter: brightness(20%);
}

.text-block {
    position: relative;
    color: white;
    top: -200px;
    font-size: x-large;
}


/*aboutUs link */

.text-block>h1 {
    text-align: center;
    padding-bottom: 10px;
}

#aboutUs a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 1px;
    text-decoration: none;
    opacity: 100%;
}

a.special-link {
    margin-left: 410px;
}

a.special-link :hover {
    color: green;
    filter: brightness(300%);
}

a#active {
    color: green;
    filter: brightness(300%);
}


/* second Section */

#secondSection {
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    gap: 10px;
    padding: 5%;
}

#introSection {
    align-items: center;
    justify-content: center;
}

#introSection>h2 {
    font-size: 60px;
    margin: 10px 0;
    text-align: center;
}

#introSection>p {
    text-align: center;
    padding-bottom: 15px;
    font-size: 20px;
}

#deityTherapyImage1 {
    width: 400px;
    height: 400px;
}


/* recommendationBtn */

#recommendationBtn {
    width: 50%;
    margin: 10% 25%;
    background-color: #26323e;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle;
}


/* Arrow on hover */

#recommendationBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#recommendationBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#recommendationBtn:hover span {
    padding-right: 25px;
}

#recommendationBtn:hover span:after {
    opacity: 1;
    right: 0;
}


/* Pressed effect */

#recommendationBtn:active {
    transform: translateY(2px);
}


/* third section */

#firstPartthirdSection>h2 {
    font-size: 60px;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    padding-bottom: 20px;
}

#firstPartthirdSection>P {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 20px;
}


/* how it work contents */

.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.slide {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.slideContent {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #F7D3DD60;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 80%; */
}

.slideImg {
    width: 600px;
    height: 400px;
}

.slideTextcontainer {
    flex: 1;
}

.slideTextcontainer h2 {
    font-size: 30px;
    margin-bottom: 10px;
    padding: 20px;
}

.slideTextcontainer p {
    font-size: 20px;
    margin-bottom: 0;
    padding: 0 20px;
}


/* fourth section */

#fourthSection {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding: 6%;
}

#whyChoseUsImg {
    width: 600px;
    height: 500px;
}

#firstPartfourthSection {
    margin-left: -65px;
    height: 500px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

#secondPartfourthSection {
    margin-right: -66px;
    background-color: gold;
    color: black;
    opacity: 80%;
    margin-top: 50px;
    margin-left: -50px;
    height: 500px;
    padding: 10px;
    padding-left: 70px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#secondPartfourthSection>h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

#secondPartfourthSection>h3,
h2 {
    font-size: large;
    font-weight: bolder;
    padding-bottom: 5px;
}

#secondPartfourthSection>p {
    font-size: large;
    font-weight: 100;
    padding-bottom: 10px;
}


/* footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 10px;
    opacity: 80%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 40px;
    margin-right: 10px;
}

.footer-links ul,
.footer-social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li,
.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links ul li a,
.footer-social ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
}


/* Media Queries */

@media (max-width: 426px) {
    /* Adjustments for screens up to 425px*/
    #navTitleContainer {
        flex-direction: column;
    }
    #navTitleContainer>div {
        width: 100%;
    }
    #titleContainer {
        width: 100%;
        justify-content: center;
    }
    #navbar {
        margin-top: -1px;
    }
    nav a {
        font-size: 10px;
        padding: 14px 10px;
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #container {
        width: 100%;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    a.special-link {
        margin-left: 85px;
    }
    #secondSection {
        display: flex;
        width: 100%;
        margin: 5px auto;
        padding: 0%;
        flex-direction: column;
    }
    #deityTherapyImage1 {
        position: absolute;
        width: 100%;
        filter: brightness(50%);
    }
    #introSection {
        z-index: 1;
        padding: 5px;
        color: white;
    }
    #introSection>h2 {
        font-size: 40px;
    }
    #firstSection {
        height: 300px;
    }
    #recommendationBtn {
        margin: 3% 25%;
    }
    #firstPartthirdSection>h2 {
        font-size: 40px;
    }
    #firstPartthirdSection>P {
        font-size: 15px;
    }
    .slideImg {
        width: 200px;
        height: 350px;
    }
    .slideTextcontainer h2 {
        font-size: 20px;
        padding: 5px;
    }
    .slideTextcontainer p {
        font-size: 12px;
    }
    #fourthSection {
        flex-direction: column;
        margin-top: 20px;
        padding: 0%;
    }
    #firstPartfourthSection {
        position: absolute;
        margin-left: 0px;
        z-index: 0;
    }
    #whyChoseUsImg {
        width: 100%;
        filter: brightness(100%);
    }
    #secondPartfourthSection {
        /* opacity: 100%; */
        background-color: #000000;
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        padding-left: 20px;
        color: white;
    }
    #secondPartfourthSection>h1 {
        padding-bottom: 40px;
    }
    #secondPartfourthSection>h3,
    h2 {
        font-size: larger;
    }
    #container {
        padding-bottom: 30px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-content>div {
        padding: 5px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    #navTitleContainer {
        flex-direction: column;
    }
    #navTitleContainer>div {
        width: 100%;
    }
    #titleContainer {
        justify-content: center;
    }
    #navbar {
        margin-top: -1px;
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a.special-link {
        margin-left: 190px;
    }
    #secondSection {
        display: flex;
        width: 100%;
        padding: 0;
        margin: auto;
        flex-direction: column;
    }
    #deityTherapyImage1 {
        position: absolute;
        width: 100%;
        filter: brightness(50%);
    }
    #introSection {
        z-index: 1;
        color: white;
    }
    #firstSection {
        height: 300px;
    }
    #recommendationBtn {
        margin: 3% 25%;
    }
    .slideImg {
        width: 300px;
    }
    .slideTextcontainer h2 {
        font-size: 20px;
    }
    .slideTextcontainer p {
        font-size: 15px;
    }
    #fourthSection {
        flex-direction: column;
        margin-top: 20px;
        padding: 0%;
    }
    #firstPartfourthSection {
        position: absolute;
        margin-left: 0px;
        z-index: 0;
    }
    #whyChoseUsImg {
        width: 100%;
        filter: brightness(100%);
    }
    #secondPartfourthSection {
        /* opacity: 100%; */
        background-color: #000000;
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        padding-left: 20px;
        color: white;
    }
    #secondPartfourthSection>h1 {
        padding-bottom: 40px;
    }
    #secondPartfourthSection>h3,
    h2 {
        font-size: larger;
    }
    #container {
        padding-bottom: 0%;
    }
}

@media (min-width: 769px) and (max-width: 1025px) {
    nav a {
        font-size: 15px;
        padding: 14px 10px;
    }
    a.special-link {
        margin-left: 290px;
    }
    #secondSection {
        display: flex;
        width: 100%;
        padding: 0;
        margin: auto;
        flex-direction: column;
    }
    #deityTherapyImage1 {
        position: absolute;
        width: 100%;
        filter: brightness(50%);
    }
    #introSection {
        z-index: 1;
        color: white;
    }
    #firstSection {
        height: 300px;
    }
    #recommendationBtn {
        margin: 3% 25%;
    }
    .slideImg {
        width: 410px;
    }
    .slideTextcontainer h2 {
        font-size: 30px;
    }
    .slideTextcontainer p {
        font-size: 18px;
    }
    #fourthSection {
        flex-direction: column;
        margin-top: 20px;
        padding: 0%;
    }
    #firstPartfourthSection {
        position: absolute;
        margin-left: 0px;
        z-index: 0;
    }
    #whyChoseUsImg {
        width: 100%;
        filter: brightness(100%);
    }
    #secondPartfourthSection {
        /* opacity: 100%; */
        background-color: #000000;
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
        padding-left: 20px;
        color: white;
    }
    #secondPartfourthSection>h1 {
        padding-bottom: 40px;
    }
    #secondPartfourthSection>h3,
    h2 {
        font-size: larger;
    }
    #container {
        padding-bottom: 0%;
    }
}