
* {
  box-sizing: border-box;
}

.no-flick{
  -webkit-transform:translate3d(0,0,0);
  filter: blur(0px);
}

.toggled {
  opacity: 1;
}

/* Body -------------------- */

body {
  background: radial-gradient(at top, #c64e4e, #6F1515);
  background-attachment: fixed;
  background-repeat: none;
  font-family: 'Roboto', sans-serif;
  height: 100vh;  
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  box-shadow: 12px 15px 26px rgba(0, 0, 0, .3);
  border-radius: 10px;
  height: 500px;
  margin: 55px auto;
  width: 414px; 
  overflow: hidden;
}

p {
  color: #848484;
  font-weight: 100;
  letter-spacing: 0.32px;
  margin: 10px 0;
}

p.form-text {
  color: #979797;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.28px;
   margin-bottom: 5px;
}

h1 {
  color: #6bbc77;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: .85px;
  margin-bottom: 6px;
  padding: 0.1rem;
  text-transform: uppercase;
  text-align: left;
  width: 88%;
}

.divider {
  background-color: #E0E0E0;
  height: 1px;
  text-align: center;
  margin: 0;
}

.wrapper {
  width: 88%;
  margin: 20px auto;
}

/* Cards -------------------- */

.image-block {
  margin: 30px auto 15px;
  text-align: center;
}
img {
  margin: 0 5px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .39);
  opacity: 0.5;
  border-radius: 6px;
  transition: all .5s;
}

img:hover {
  opacity : 1;
  transform: translateZ(0);
  backface-visibility: hidden; 
}


/* ------- FORM -------------- */

select,
input.cc-holder,
input.cc-number,
input.cc-ccv {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  color: rgba(0, 0, 0, .7);
  height: 39px;
  margin-top: 0;
  outline: none;
  font-size: 18px;
  padding-left: 17px;
}

input.cc-holder {
  width: 99%;
}

input.cc-number {
  width: 60px;
  display: inline-block;
  margin-right: 2px;
}
input.cc-ccv {
  width: 100%;
}

input[type=text],
input[type=num] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: border .4s ease-in-out;
}

input[type=text]:focus,
input[type=num]:focus {
    border: 2px solid #6BBC77;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 7px;
  color: #979797;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.28px;
}

select#expiration-month {
  width: 58%;
  margin-right: 4px;
}

select#expiration-year {
  width: 38%;
}

fieldset.exp-date {
  float: left;
  /*border: 1px solid black;*/
  width: 270px;
}

fieldset.ccv {
  float: right;
  /*border: 1px solid black;*/
  width: 86px;
}

fieldset.submit-btn {
  padding-top: 20px;
}

/* Submit Btn -------------------- */
button {
  width: 100%;
  height: 39px;
  border: none;
  border-radius: 10px;
  background-color: #6bbc77;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  outline: none;
  transition: all .2s ease-in-out;
  position: relative;
}

button::after {
  content: '';  
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 4px 0 transparent, 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:hover::after {
  background: rgba(0, 0, 0, .1);
  box-shadow: inset 0 4px 0 rgba(0, 0, 0, .1);
}

